<% content_for :head do %>	
	<script type="text/javascript">
		google.setOnLoadCallback(show_user)
	
		function show_user(){
			$(document).ready(function(){
				User.init('show')
			});
		}
	</script>
<% end %>

<div class="container">
	<div class="row">
		<div class="seven columns">
			<h1>
				<%= gravatar_for @user %>
				<%= @user.name %>
			</h1>
		</div>
		<div class="four columns offset-by-one">
			<strong>Name</strong> <%= @user.name %><br />
			<strong>URL</strong> <%= link_to user_path(@user), @user %>
		</div>
		<hr>
	</div>	
	<div id="user-workspace-container" class="row">
		<div id="blocs-sidebar-container" class="two columns">
			
		</div>
		<div id="blocs-container" class="ten columns">
			
			<% if @user.blocs.any? %>
				<table class="blocs" summary="User blocs">
					<%= render @blocs %>
				</table>	
			<% end %>
		</div>		
	</div>	
</div>	



<script id="blocTmpl" type="text/x-jquery-tmpl">
		<label>Test Label</label>
</script>