<tr>
	<td class="bloc">
		<span class="content"><%= bloc.content %></span>
		<% if bloc.blocposts.any? %>
			<table class="blocposts" summary="bloc blocposts">
				<% bloc.blocposts.each do |blocpost| %>
					<tr>
						<td class="blocpost">
							<div class="row">
								<span class="content"><%= blocpost.content %></span>
							</div>	
							<div class="row">		
								<strong><%= User.find_by_id(blocpost.user_id).name %></strong>
								<span class="timestamp">
									Posted <%= time_ago_in_words(blocpost.created_at) %> ago.
								</span>
							</div>
						</td>	
					</tr>	
				<% end %>
			</table>	
		<% end %>
		<% if current_user?(bloc.user) %>
	  		<td>
	    		<%= link_to "delete", bloc, :method => :delete,
	                                     	:confirm => "You sure?",
	                                     	:title => bloc.content %>
	  		</td>
	  <% end %>
	</td>	
</tr>